<% posts.forEach(function(post, index){ %>
<div class="post">
	<h2><a href="/p/<%= post._id %>"><%= post.title %></a></h2>
	<a href="/u/<%= post.name %>"><img src="<%= post.head %>" class="r_head"/></a>

	<p class="info">
	作者：<a href="#"><%= post.name %></a>
	日期：<%= post.time.minute %><br/>
	<% if (post.tags.length) { %>
	标签：<% post.tags.forEach(function(tag, index){ %>
	<a class="tag" href="/tags/<%= tag.tag %>"><%= tag.tag %></a>
	</p>
	<% }) %>
	<% } %>
	<%- post.content %>
	<p class="info">阅读：<%= post.pv %> | 评论：<%= post.comments.length %></p>
</div>
<% }) %>